@using System.Reflection
@using OpenIdentityFramework.Configuration.Options
@model Microsoft.AspNetCore.Authentication.AuthenticateResult
@{
    ViewData["Title"] = "Home";
    var version = typeof(OpenIdentityFrameworkOptions).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion ?? "unknown";
}

<h1>Welcome to Open Identity Framework <small class="text-muted text-nowrap">(@version)</small></h1>
<ul class>
    <li>
        Open Identity Framework publishes a <a href="/.well-known/openid-configuration">discovery document</a> where you can find metadata and links to all the endpoints, key material, etc
    </li>
    <li>
        Here are link to the <a href="https://github.com/OpenIdentityFramework/OpenIdentityFramework">source code repository</a>
    </li>
</ul>

<div class="row">
    <div class="col">
        <h1>Authentication Cookies</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>Claims</h3>
            </div>
            <div class="card-body">
                @if (Model.Succeeded)
                {
                    <dl>
                        @foreach (var claim in Model.Principal.Claims)
                        {
                            <dt>@claim.Type</dt>
                            <dd>@claim.Value</dd>
                        }
                    </dl>
                }
                else
                {
                    <p class="card-text">Anonymous user</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mt-md-0">
        <div class="card">
            <div class="card-header">
                <h3>Properties</h3>
            </div>
            <div class="card-body">
                @if (Model.Succeeded)
                {
                    <dl>
                        @foreach (var prop in Model.Properties.Items)
                        {
                            <dt>@prop.Key</dt>
                            <dd>@prop.Value</dd>
                        }
                    </dl>
                }
                else
                {
                    <p class="card-text">Anonymous user</p>
                }
            </div>
        </div>
    </div>
</div>
