@{
    var title = "OpenIdentityFramework";
    if (ViewData["Title"] is string titleString && !string.IsNullOrWhiteSpace(titleString))
    {
        title = $"OpenIdentityFramework - {titleString}";
    }
    var authenticated = Context.User.Identity?.IsAuthenticated == true;
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@title</title>
    <link rel="icon" type="image/x-icon" href="~/static/favicon.ico">
    <link rel="stylesheet" href="~/content/app.min.css" asp-append-version="true"/>
    <script src="~/content/vendor.min.js" asp-append-version="true"></script>
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">OpenIdentityFramework</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (!authenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" role="link" class="nav-link btn btn-link">Logout</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="flex-shrink-0">
    <div class="container">
        @RenderBody()
    </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <span class="text-muted">&copy; 2023 - OpenIdentityFramework</span>
    </div>
</footer>

<script src="~/content/app.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
